// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins&display=swap');

// Define fonts for body and headers
$body-font: "Playfair Display", "Serif";
$headers-font: "Poppins", "Sans-Serif";

h1 {
    font-size: 64px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 32px
}

h5 {
    font-size: 24px;
}

