.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 90% 10%;
  background-color: #06AED5;
  // clip-path: ;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  grid-column-start: 2;
  h1 {
    font-size: 96px;
    // margin: 16px 0px;
  }
}

.animated {
  animation-duration: 3s;
}

.scroll {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 2;
  justify-content: flex-end;
  padding-bottom: 32px;
}

#projects {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 10% auto 10%;
  padding-top: 32px;
  min-height: 100vh;
  h2 {
    font-size: 64px;
  }
}

.project-intro {
  grid-column-start: 2;
  grid-row-start: 2;
}

.projects {
  grid-column-start: 2 / span 2;
  grid-row-start: 3;
}