.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  background-color: #4361EE;
  // clip-path: ;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  text-align: left;
  grid-column-start: 2;
  h1 {
    font-size: 96px;
    // margin: 16px 0px;
  }
}