<%= render "shared/nav" %>
<div class="hero">
    <div class="hero-inner text-white">
        <h1>Howdy!</h1>
        <p>I'm Gerard, a web-developer based out of San Francisco. I like to make neat things! I dig UX/UI design + development, pop-punk, and ramen. </p>
    </div>
</div>