<%= render "shared/nav" %>
<div class="hero">
    <div class="hero-inner text-white">
        <h1>Howdy!</h1>
        <h2>I'm Gerard, a web-developer based out of San Francisco. I like to make neat things! I dig UX/UI design + development, pop-punk, and ramen. </h2>
    </div>
    <div class="scroll text-white text-center">
        <p>【ｓｃｒｏｌｌ　ｆｏｒ　ｇｏｏｄｎｅｓｓ】</p>
        <i class="fas fa-arrow-down animated infinite flash delay-1s"></i>
    </div>
</div>
<div id="projects">
    <div class="project-intro">
        <h2 class="highlight">Projects</h2>
    </div>
    <div class="project">

    </div>
</div>