nav {
  height: 80px; 
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  img {
    padding-left: 32px;
    width: 320px;
    height: auto;
  }
  ul {
    padding-right: 16px;
  }
  li {
    display: inline-block;
    padding: 0px 16px;
  }
  a {
    font-family: "Poppins", "Sans-Serif";
    color: white;
    text-decoration: none;
  }
}